p{
   font-family: 'Nuosu SIL ' sans-serif;
   font-style: italic;
   font-size: 20px;
   font-weight: 800px;
}
i{
   font-size: 50px ;
   
}

.two{
   font-family: 'Lobster', cursive;
/* font-family: 'Nuosu SIL', serif; */
   font-size: 25px;
   font-weight: 100px;


}