body{
    background-color: gray;
    background-image: url(./cat-g0ce82eb70_1920.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}